<div class="col-md-6 col-lg-6">      
    <h1 class="head-title">{{titulo}}</h1>            
    <div *ngIf="successMessage">
        <div class="alert alert-success">
            {{successMessage}}
        </div>
    </div>
    <div *ngIf="errorMessage">
        <div class="alert alert-warning">
            <strong>Error:</strong> {{errorMessage}}
        </div>
    </div>
    <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()">      
        <div class="form-group">
        <label for="name"><strong>Nombre (*) :</strong></label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required/>                   
        </div>
        <div class="form-group">
        <label for="surname"><strong>Apellidos (*) :</strong></label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="email"><strong>Email (*) :</strong></label>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required/>
        </div>        
        <div class="form-group">
            <label for="image"><strong>Imagen :</strong></label>            
            <input type="file" placeholder="Subir tu imagen..." (change)="fileChangeEvent($event)"/>
        </div>        
        <input type="submit" value="Aceptar" class="btn btn-primary"/>              
    </form>      
</div>
<div class="col-md-4 col-lg-4 float-right">      
    <div class="img_for_edit" *ngIf="user.image && user.image != 'null'">        
        <img src="{{url}}user-load/{{user.image}}" style="width:80%;"/>
    </div>
</div>

