<div class="container">
    <div class="col-md-8">
        <app-alert></app-alert>
        <div class="well well-sm" *ngIf="identity.admin && level">              
            <form class="form-horizontal" method="post" (ngSubmit)="onSubmit()" #formConfigureLevel="ngForm">
                <legend class="text-center"><h1>{{title}}</h1></legend>
                <div class="form-group">
                    <label for="order" class="control-label col-sm-3">Orden (*):</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" [(ngModel)]="level.order" name="order" required #order="ngModel">
                    </div>            
                </div> 
                <div class="form-group">
                    <label for="name" class="control-label col-sm-3">Nombre (*):</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" [(ngModel)]="level.name" name="name" required #name="ngModel">
                    </div>            
                </div>   
                <div class="form-group">
                    <label for="name" class="control-label col-sm-3">Descripción:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" [(ngModel)]="level.description" name="description" #description="ngModel"></textarea>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="name" class="control-label col-sm-3">Evolución (*):</label>
                    <div class="col-sm-9">
                        <select class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="level.evolutionID" name="level.evolutionID" required>
                            <option *ngFor="let element of evolutions" [ngValue]="element._id">{{element.name}}</option>
                        </select>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="name" class="control-label col-sm-3">Nombre estado (*):</label>
                    <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="level.state" name="state" required #state="ngModel">
                    </div>            
                </div>
                <div class="form-group">
                    <label for="name" class="control-label col-sm-3">Tiempo (*):</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" [(ngModel)]="level.time" name="time" required #time="ngModel">
                    </div>           
                    <label for="name" class="control-label col-sm-1">segundos</label>
                </div>                
                <div class="form-group" *ngIf="edit">
                    <label for="name" class="control-label col-sm-3">Imagen (png):</label>
                    <div class="col-sm-7">
                        <input type="file" class="form-control" placeholder='Subir archivo...' (change)="fileChangeEvent($event,'image')"/>               
                    </div>            
                    <div class="col-sm-2" *ngIf="level.image" >
                        <a class="btn" href="{{url}}level-load/{{level._id}}" download="img">Descargar</a>                   
                    </div>
                </div>                                                                                                   
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-success" [disabled]="!formConfigureLevel.valid">Guardar</button>
                    <button class="btn btn-warning" [routerLink]="['/admin/level']">Volver</button>                                
                </div>                        
            </form> 
            <div *ngIf="edit" class="form-horizontal">                
                <div style="margin-top:15%">
                    <h3>Gestión de acciones</h3>            
                    <table class="table" *ngIf="level.actions">
                        <thead>
                            <tr>
                                <th>#</th> 
                                <th>Orden</th>              
                                <th>Nombre</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="level.actions.length>0">
                            <tr *ngFor="let element of level.actions; let i = index">
                                <th scope="row">{{i+1}}</th>              
                                <td>{{element.order}}</td>
                                <td>{{element.name}}</td>                        
                                <td>
                                    <a (click)="removeAction(element._id, i);" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!level.actions.length>0">
                                <tr class="no-data">
                                    <td colspan="4">No se han encontrado resultados</td>
                                </tr>
                        </tbody> 
                    </table>
                    <form *ngIf="actions" (ngSubmit)="addAction()" #form="ngForm" class="form-inline">
                        <label for="name">Acciones:</label>                  
                        <select class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="action" name="action">
                            <option *ngFor="let element of actions" [ngValue]="element">{{element.name}}</option>
                        </select>
                        <button type="submit" class="btn btn-primary mb-2">Añadir</button>
                    </form>
                </div>   
                <div style="margin-top:15%">
                    <h3>Gestión de aprendizaje</h3>            
                    <table class="table" *ngIf="level.learnings">
                        <thead>
                            <tr>
                                <th>#</th> 
                                <th>Orden</th>              
                                <th>Nombre</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="level.learnings.length>0">
                            <tr *ngFor="let element of level.learnings; let i = index">
                                <th scope="row">{{i+1}}</th>              
                                <td>{{element.order}}</td>
                                <td>{{element.name}}</td>                        
                                <td>
                                    <a (click)="removeLearning(element._id, i);" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!level.learnings.length>0">
                                <tr class="no-data">
                                    <td colspan="4">No se han encontrado resultados</td>
                                </tr>
                        </tbody> 
                    </table>
                    <form *ngIf="learnings" (ngSubmit)="addLearning()" #form="ngForm" class="form-inline">
                        <label for="name">Aprendizajes:</label>                  
                        <select class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="learning" name="learning">
                            <option *ngFor="let element of learnings" [ngValue]="element">{{element.name}}</option>
                        </select>
                        <button type="submit" class="btn btn-primary mb-2">Añadir</button>
                    </form>
                </div>             
                <div style="margin-top:15%;">
                    <h3>Gestión de objetivos</h3>            
                    <table class="table" *ngIf="level.goals" >
                        <thead>
                            <tr>
                                <th>#</th>              
                                <th>Nombre</th>
                                <th>Valor 1</th>
                                <th>Valor 2</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="level.goals.length>0">
                            <tr *ngFor="let element of level.goals; let i = index">
                                <th scope="row">{{i+1}}</th>              
                                <td>{{element.goal.name}}</td>
                                <td>{{element.value_1}}</td>
                                <td>{{element.value_2}}</td>
                                <td>
                                    <a (click)="removeGoal(element.goalID, i);" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!level.goals.length>0">
                                <tr class="no-data">
                                    <td colspan="5">No se han encontrado resultados</td>
                                </tr>
                        </tbody> 
                    </table> 
                    <form *ngIf="goals && levelGoal" (ngSubmit)="addGoal()" #form="ngForm" class="form-inline">                         
                        <label for="name">Objetivos:</label>                  
                        <select class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="levelGoal.goal" name="levelGoal.goalID">
                            <option *ngFor="let element of goals" [ngValue]="element">{{element.name}}</option>
                        </select>
                        <label for="name">Valor 1:</label>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="levelGoal.value_1" name="value_1" #value_1="ngModel" style="width: 10%;">
                        <label for="name">Value 2:</label>
                        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="levelGoal.value_2" name="value_2" #value_2="ngModel" style="width: 10%;">
                        <button type="submit" class="btn btn-primary">Añadir</button>                                   
                    </form>
                </div> 
            </div>
        </div>
</div>