<div class="col-lg-10 col-md-10" *ngIf="identity.role == 'ROLE_ADMIN'">
    <div class="page-header">
      <h1>{{title}}</h1> 
      <div *ngIf="level">
        <button *ngIf="boolEdit && level.active==0" (click)='activateLevel();' class="btn btn-success btn-active">Activar</button>
        <button *ngIf="boolEdit && level.active==1" (click)='desactivateLevel();' class="btn btn-danger btn-active">Desactivar</button>
      </div>           
    </div>
    <div *ngFor="let e of errorMessage;" class="alert alert-warning"> <strong>Error: </strong>{{e}}</div>
    <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
    <div *ngIf="level && evolutions" class="col-lg-10 col-md-10" style="margin-top:10px;">                
        <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-horizontal">
            <div class="form-group">
              <label for="name" class="control-label col-sm-2">Order (*):</label>
              <div class="col-sm-5">
                  <input type="text" class="form-control" [(ngModel)]="level.order" name="order" required #order="ngModel">
              </div>            
            </div>
            <div class="form-group">
              <label for="name" class="control-label col-sm-2">Title (*):</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="level.title" name="title" required #title="ngModel">
              </div>            
            </div>
            <div class="form-group">
              <label for="name" class="control-label col-sm-2">Description:</label>
              <div class="col-sm-10">
                  <textarea rows="5" class="form-control" [(ngModel)]="level.description" name="description" required #description="ngModel"></textarea>
              </div>            
            </div>  
            <div class="form-group">
                <label for="evolution" class="control-label col-sm-2">Evolution (*):</label>
                <div class="col-sm-10">
                    <select  class="form-control" [(ngModel)]="level.evolution" name="evolution">
                      <option *ngFor="let e of evolutions" [ngValue]="e._id">{{e.order}}-{{e.name}}</option>
                    </select>
                </div>            
            </div>
            <div class="form-group">
              <label for="name" class="control-label col-sm-2">Time seg (*):</label>
              <div class="col-sm-5">
                  <input type="text" class="form-control" [(ngModel)]="level.time" name="time" required #time="ngModel">
              </div>            
            </div> 
            <div class="form-group" *ngIf="boolEdit">
              <label for="name" class="control-label col-sm-2">Image (440x325):</label>
              <div class="col-sm-6 float-right">
                <input type="file" class="form-control" placeholder='Subir tu imagen...' (change)="fileChangeEvent($event, 'image')"/>               
              </div>            
              <div class="col-sm-2 float-right" *ngIf="level.image && level.image != ''" >
                  <a class="btn" href="{{url}}level-load/{{level.image}}/I" download="img">Descargar</a>                   
              </div>
            </div>
            <div class="form-group" *ngIf="boolEdit">
              <label for="name" class="control-label col-sm-2">Code Default (txt):</label>
              <div class="col-sm-6 float-right">
                <input type="file" class="form-control" placeholder='Subir tu imagen...' (change)="fileChangeEvent($event, 'code_default')"/>               
              </div>            
              <div class="col-sm-2 float-right" *ngIf="level.code_default && level.code_default != ''" >
                  <a class="btn" href="{{url}}level-load/{{level.code_default}}/C" download="img">Descargar</a>                   
              </div>
            </div>  
            <div class="form-group" *ngIf="boolEdit">
              <label for="name" class="control-label col-sm-2">Map (json 32x24 16px):</label>
              <div class="col-sm-6 float-right">
                <input type="file" class="form-control" placeholder='Subir tu imagen...' (change)="fileChangeEvent($event, 'map')"/>               
              </div>            
              <div class="col-sm-2 float-right" *ngIf="level.map && level.map != ''" >
                  <a class="btn" href="{{url}}level-load/{{level.map}}/M" download="img">Descargar</a>                   
              </div>
            </div> 
            <div class="col-sm-offset-2 col-sm-10">                
                <button type="submit" class="btn btn-success">Guardar</button>
                <a [routerLink]="['/admin/level']" class="btn btn-warning">Volver</a>                
            </div> 
        </form>
        <div *ngIf="boolEdit" class="lists_property">
            <h2>Gestión de objetivos</h2>
            <div *ngIf="errorProperty[0]" class="alert alert-warning"> {{errorProperty[0]}}</div>  
            <table *ngIf="levelGoals.length>0" class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>              
                        <th>Goal</th>
                        <th>Value 1</th>
                        <th>Value 2</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of levelGoals; let i = index">
                        <th scope="row">{{i+1}}</th>              
                        <td>{{element.goal.title}}</td>
                        <td>{{element.value1}}</td>
                        <td>{{element.value2}}</td>
                        <td>
                            <a (click)="removeGoal(element._id);" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table> 
            <form *ngIf="goals" (ngSubmit)="addGoal()" #form="ngForm" class="form-inline">
                <div class="form-group mb-2">                    
                    <select  class="form-control" [(ngModel)]="levelGoal.goal" name="goal">
                        <option *ngFor="let g of goals" [ngValue]="g">{{g.title}}</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="name" class="control-label">Value 1:</label>
                    <input type="text" class="form-control" [(ngModel)]="levelGoal.value1" name="value1" required #value1="ngModel">           
                </div>
                <div class="form-group mb-2">
                    <label for="name" class="control-label">Value 2:</label>
                    <input type="text" class="form-control" [(ngModel)]="levelGoal.value2" name="value2" required #value2="ngModel">          
                </div>
                <button type="submit" class="btn btn-primary mb-2">Añadir</button>
            </form>                     
            <h2>Gestión de aprendizaje</h2>
            <div *ngIf="errorProperty[1]" class="alert alert-warning"> {{errorProperty[1]}}</div> 
            <table *ngIf="levelLearnings.length>0" class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>              
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of levelLearnings; let i = index">
                        <th scope="row">{{i+1}}</th>              
                        <td>{{element.learning.title}}</td>
                        <td>
                            <a (click)="removeLearning(element._id);" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form *ngIf="learnings" (ngSubmit)="addLearning()" #form="ngForm" class="form-inline">
                <div class="form-group mb-2">                    
                    <select  class="form-control" [(ngModel)]="levelLearning.learning" name="learning">
                        <option *ngFor="let l of learnings" [ngValue]="l">{{l.title}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Añadir</button>
            </form>
            <h2>Gestión de acciones</h2>
            <div *ngIf="errorProperty[2]" class="alert alert-warning"> {{errorProperty[2]}}</div> 
            <table *ngIf="levelActions.length>0" class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>              
                        <th>Method</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of levelActions; let i = index">
                        <th scope="row">{{i+1}}</th>              
                        <td>{{element.action.method}}</td>
                        <td>
                            <a (click)="removeAction(element._id);" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form *ngIf="actions" (ngSubmit)="addAction()" #form="ngForm" class="form-inline">
                <div class="form-group mb-2">                    
                    <select  class="form-control" [(ngModel)]="levelAction.action" name="action">
                        <option *ngFor="let a of actions" [ngValue]="a">{{a.method}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Añadir</button>
            </form>
            <h2>Gestión de posiciones</h2>
            <div *ngIf="errorProperty[3]" class="alert alert-warning"> {{errorProperty[3]}}</div>
            <table *ngIf="levelPositions.length>0" class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>              
                        <th>Coord. X</th>
                        <th>Coord. Y</th>                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of levelPositions; let i = index">
                        <th scope="row">{{i+1}}</th>              
                        <td>{{element.value_x}}</td>
                        <td>{{element.value_y}}</td>                    
                        <td>
                            <a (click)="removePosition(element._id);" title="Eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table> 
            <form (ngSubmit)="addPosition()" #form="ngForm" class="form-inline">
                <div class="form-group mb-2">
                    <label for="name" class="control-label">Cood. X:</label>
                    <input type="text" class="form-control" [(ngModel)]="position.value_x" name="value_x" required #value_x="ngModel">           
                </div>
                <div class="form-group mb-2">
                    <label for="name" class="control-label">Cood. Y:</label>
                    <input type="text" class="form-control" [(ngModel)]="position.value_y" name="value_y" required #value_y="ngModel">          
                </div>
                <button type="submit" class="btn btn-primary mb-2">Añadir</button>
            </form> 
        </div>
    </div>
</div>