<div class="col-lg-10 col-md-10" *ngIf="identity.role == 'ROLE_ADMIN'">
    <div class="page-header">
      <h1>{{title}}</h1>
      <div *ngIf="errorMessage" class="alert alert-warning"> <strong>Error: </strong>{{errorMessage}}</div>
      <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div> 
      <div *ngIf="action" class="col-lg-12 col-md-12" style="margin-top:50px;">
          <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-horizontal">
            <div class="form-group">
              <label for="name" class="control-label col-sm-2">Method (*):</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="action.method" name="method" required #method="ngModel">
              </div>            
            </div> 
            <div class="form-group">
              <label for="name" class="control-label col-sm-2">Description (*):</label>
              <div class="col-sm-10">
                  <textarea class="form-control" [(ngModel)]="action.description" name="description" required #description="ngModel"></textarea>
              </div>            
            </div> 
            <div class="form-group">
              <label for="name" class="control-label col-sm-2">Example (*):</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" [(ngModel)]="action.example" name="example" required #example="ngModel"></textarea>
              </div>            
            </div>                
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a [routerLink]="['/admin/action']" class="btn btn-warning">Volver</a>
            </div>                         
          </form>
      </div>
    </div>
  </div>
  
  