/*Barra de navegación*/
.navbar{
    background: #c99e67;
    border: 1px solid #343434;
    font-size: 15px;    
}

.navbar-brand img{
    height: 25px;
}

.navbar-right{
    margin-right: 2.5%; 
}

.glyphicon{
    font-size: 15px;         
    margin-right: 5px;
}

/*Color texto e iconos*/
.glyphicon,
.navbar-default .navbar-nav>li>a,
.navbar-text {
    color: #343434;
}

.navbar-toggle {
    border: 2px solid #343434;
}

.navbar-toggle .icon-bar{
    background-color: #343434;
}

.nav_image {        
    height: 40px;       
    width: 40px;   
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    float: left;
    border: 1px solid #343434;
    border-radius: 8px;
}

.nav_image img{
    width: 40px;
    margin: 0px 0px;       
}


@media (min-width: 768px) and (max-width: 1000px) {
    .nav_user{
        display: none;
    }

    .glyphicon{
        font-size: 10px;         
        margin-right: 2px;
    }

    .navbar-brand img {
        height: 18px;
    }
}

@media (max-width: 768px) {

    .nav_user{
        display: none;
    }

    .navbar-default{
        font-size: 12px;
    }

    .navbar-brand img {
        height: 20px;
    }
}