.navbar-default{
    background: var(--main-color);
    font-size: 16px; 
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-default .navbar-brand {
    color: var(--font-color);
}

.navbar-default .navbar-nav > li > a {
    color: var(--font-color);
}

.navbar-default .navbar-header .icon-bar{
    background-color: var(--font-color);
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: var(--font-color);
    background-color: var(--color-selected);
}

@media (max-width: 1024px){
    .navbar-default{
        padding-left: 0%;
        padding-right: 0%;
        font-size: 14px;
    }
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: var(--font-color);
    }
}