<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Mostrar Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['home']" title="Página de inicio" (click)='option = "home"'>Code Evolution</a>
      </div>      
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li [ngClass]="{'active': option == 'play'}">
              <a [routerLink]="['jugar']" (click)='option = "play"'><span class="glyphicon glyphicon-globe"></span>&nbsp;Jugar</a>
          </li>
          <li [ngClass]="{'active': option == 'user'}">
            <a [routerLink]="['mis-datos']" (click)='option = "user"'><span class="glyphicon glyphicon-user"></span>&nbsp;Mi cuenta</a>
          </li>
          <li [ngClass]="{'active': option == 'help'}">
            <a [routerLink]="['ayuda']" (click)='option = "help"'><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Ayuda</a>
          </li>
          <li class="dropdown" *ngIf="identity.role=='ROLE_ADMIN'" [ngClass]="{'active': option == 'admin'}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-wrench"></span>&nbsp;Administración 
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['admin/user']" (click)='option = "admin"'>Usuarios</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['admin/evolution']" (click)='option = "admin"'>Evoluciones</a></li>
              <li><a [routerLink]="['admin/level']" (click)='option = "admin"'>Niveles</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['admin/goal']" (click)='option = "admin"'>Objetivos</a></li>
              <li><a [routerLink]="['admin/learning']" (click)='option = "admin"'>Aprendizajes</a></li>
              <li><a [routerLink]="['admin/action']" (click)='option = "admin"'>Acciones</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a [routerLink]="['mis-datos']" (click)='changeOption("user")'>Usuario:<b id="navbar-user-email">{{identity.email}}</b></a>    
          </li> 
          <li>
              <a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Salir</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
  