/*#region VARIABLES*/
:root {
    --main-color: #3f5e8c;
    --color-selected: #3e85ed;
    --font-color: #f0f0f0; 
    --font-color-2: #343434;    
    --background-color: #f0f0f0;
    --background-color-2: #f7f7f7;
    --background-color-success: #42A948;
    --background-color-alert: #a94442;
    --framework-color: #fd0;
    --no-checked-color: #F1948A;
    --checked-color: #A9DFBF;
}

/*#endregion ENDVARIABLES*/

/*#region ELEMENTOS HTML*/
html, body{
    margin:0;
    padding:0;
    height:100%;
    background: var(--background-color);
    font-family: 'Oswald', sans-serif;      
}

footer {    
    height: 50px;
    background-color: var(--main-color);
    color: var(--font-color);
    padding-top: 10px;    
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 500px;
    text-align: right;
}

h1, h2, h3, h4{           
    color: var(--main-color);
    margin-top: 0px;
}

h1 {
    font-size: 30px;
    font-weight: bold;    
}
 
h2{
    font-size: 20px;    
}

h3{
    font-size: 16px;    
}

h4{
    font-size: 12px;    
}

a {
    cursor: pointer;
}

.table th,
.table td {
    text-align: center;   
 }


/*#endregion*/

/*#region CLASES COMUNES*/
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.table-ce thead tr{
    background-color: var(--main-color);
    color: var(--font-color);
}

.table-ce tbody tr td{
    font-size:13px;
}
/*#endregion*/

/*#region POPOVER */

.popover{
    max-width:400px;
}

.popover-botton{
    cursor: pointer;
    color: var(--font-color-2);
}

.popover-botton:hover{
    text-decoration: none; 
}

.popover-title{
    background-color: var(--main-color);
    color: var(--font-color);
    font-weight: bold;
}

.popover-description{
    font-size: 12px;
}

.popover-example {
    font-size: 10px;
    color: var(--font-color-2);
    background-color: var(--font-color);
}

/*#endregion*/