/*GLOBAL*/
html, body{
    margin: 0;
    height: 100%;
    background: #ffffff;         
}

h1, h2{
    text-decoration-color: black;
    font-family: 'Oswald', sans-serif;    
}

h1 {
    font-size: 28px;
    font-weight: bold;
}
 
h2{
    font-size: 22px;    
}