<!-- Heading Row -->
<div class="row my-4">
  <div class="col-lg-7">
    <img class="img-fluid rounded" src="../../assets/image/evolution.png" alt="">
  </div>  
  <div></div>    
  <div class="col-lg-4 col-lg-offset-1">
    <h1>{{title}}</h1>
    <p>Iniciate en la programación con el lenguaje <strong>Python</strong> de forma gradual y entretenida jugando a este divertido juego</p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/jugar']">Empieza a jugar!</a>
  </div>      
</div>    
<!-- Content Row -->
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Programación</h2>
        <p class="card-text">Completa el código fuente en cada nivel, observa como tus cambios afectan al comportamiento del organismo en el juego y supera los objetivos indicados.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Más Info</a>
      </div>
    </div>
  </div>      
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Python</h2>
        <p class="card-text">Lenguaje simple, enfocado a la funcionalidad, que permite que cualquiera (sin necesidad de ser un experto) pueda entender el código. Con el podrás crear todo tipo de programas: desde aplicaciones de escritorio hasta páginas webs.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Más Info</a>
      </div>
    </div>
  </div>      
  <div class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">Evolución</h2>
        <p class="card-text">Supera todos los niveles de cada organismo para pasar a la siguiente evolución y adquirir nuevas habilidades con las que ampliar tus conocimientos en Python</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Más Info</a>
      </div>
    </div>
  </div>      
</div>    
