<div class="col-lg-10 col-md-10" *ngIf="identity.role == 'ROLE_ADMIN'">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div *ngFor="let e of errorMessage;" class="alert alert-warning"> <strong>Error: </strong>{{e}}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div> 
  <div *ngIf="evolution" class="col-lg-10 col-md-10" style="margin-top:50px;">
      <form (ngSubmit)="onSubmit()" #form="ngForm" class="form-horizontal">        
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">Order (*):</label>
          <div class="col-sm-5">
              <input type="text" class="form-control" [(ngModel)]="evolution.order" name="order" required #order="ngModel">
          </div>            
        </div>
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">Name (*):</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="evolution.name" name="name" required #name="ngModel">
          </div>            
        </div> 
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">Description:</label>
          <div class="col-sm-10">
              <textarea rows="5" class="form-control" [(ngModel)]="evolution.description" name="description" required #description="ngModel"></textarea>
          </div>            
        </div> 
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">Health (*):</label>
          <div class="col-sm-5">
              <input type="text" class="form-control" [(ngModel)]="evolution.health" name="health" required #health="ngModel">
          </div>            
        </div>  
        <div class="form-group" *ngIf="boolEdit">
          <label for="name" class="control-label col-sm-2">Image:</label>
          <div class="col-sm-6 float-right">
            <input type="file" class="form-control" placeholder='Subir tu imagen...' (change)="fileChangeEvent($event,'image')"/>               
          </div>            
          <div class="col-sm-2 float-right" *ngIf="evolution.image && evolution.image != ''" >
              <a class="btn" href="{{url}}evolution-load/{{evolution.image}}/I" download="img">Descargar</a>                   
          </div>
        </div>    
        <div class="form-group" *ngIf="boolEdit">
          <label for="name" class="control-label col-sm-2">Player:</label>
          <div class="col-sm-6 float-right">
            <input type="file" class="form-control" placeholder='Subir tu imagen...' (change)="fileChangeEvent($event,'player')"/>               
          </div>            
          <div class="col-sm-2 float-right" *ngIf="evolution.player && evolution.player != ''" >
              <a class="btn" href="{{url}}evolution-load/{{evolution.player}}/P" download="img">Descargar</a>                   
          </div>
        </div>  
        <div class="form-group" *ngIf="boolEdit">
          <label for="name" class="control-label col-sm-2">TS Surface:</label>
          <div class="col-sm-6 float-right">
            <input type="file" class="form-control" placeholder='Subir tu imagen...' (change)="fileChangeEvent($event,'ts_surface')"/>               
          </div>            
          <div class="col-sm-2 float-right" *ngIf="evolution.tiledset_surface && evolution.tiledset_surface != ''" >
              <a class="btn" href="{{url}}evolution-load/{{evolution.tiledset_surface}}/TS" download="img">Descargar</a>                   
          </div>
        </div>  
        <div class="form-group" *ngIf="boolEdit">
          <label for="name" class="control-label col-sm-2">TS Block:</label>
          <div class="col-sm-6 float-right">
            <input type="file" class="form-control" placeholder='Subir tu imagen...' (change)="fileChangeEvent($event, 'ts_block')"/>               
          </div>            
          <div class="col-sm-2 float-right" *ngIf="evolution.tiledset_block && evolution.tiledset_block != ''" >
              <a class="btn" href="{{url}}evolution-load/{{evolution.tiledset_block}}/TB" download="img">Descargar</a>                   
          </div>
        </div>  
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a [routerLink]="['/admin']" class="btn btn-warning">Volver</a>
        </div>                                    
      </form>
      <div class="list_levels" *ngIf="boolEdit">      
        <h2>Listado de niveles asociados</h2>
        <div *ngIf="errorLevels" class="alert alert-warning"> {{errorLevels}}</div>
        <table *ngIf="levels" class="table">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>              
                <th>Order</th>
                <th>Title</th>
                <th>Time</th>                
                <th>Active</th>                
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of levels; let i = index">
                <th scope="row">{{i+1}}</th>              
                <td>{{l.order}}</td>
                <td>{{l.title}}</td>
                <td>{{l.time}}</td>
                <td>{{l.active}}</td>
                <td>
                    <a [routerLink]="['/admin/editLevel/'+ l._id]" class="button_action" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>                  
                </td>
              </tr>
            </tbody>
        </table>
      </div>
  </div> 
</div>
    
    