<div class="container">
    <div class="col-md-8">
        <app-alert></app-alert>
        <div class="well well-sm" *ngIf="identity.admin && evolution">
            <form class="form-horizontal" method="post" (ngSubmit)="onSubmit()" #formConfigureEvolution="ngForm">
                <legend class="text-center"><h1>{{title}}</h1></legend>

                <div class="form-group">
                    <label for="order" class="control-label col-sm-2">Orden (*):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="evolution.order" name="order" required #order="ngModel">
                    </div>            
                </div> 
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Origen (*):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="evolution.origin" name="origin" required #origin="ngModel">
                    </div>            
                </div>   
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Nombre (*):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="evolution.name" name="name" required #name="ngModel">
                    </div>            
                </div>
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Descripción:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" [(ngModel)]="evolution.description" name="description" #description="ngModel"></textarea>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Salud (*):</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" [(ngModel)]="evolution.health" name="health" required #health="ngModel">
                    </div>            
                </div>
                <div class="form-group" *ngIf="isEdit">
                    <label for="name" class="control-label col-sm-2">Imagen (png):</label>
                    <div class="col-sm-8">
                      <input type="file" class="form-control" placeholder='Subir archivo...' (change)="fileChangeEvent($event,'image')"/>               
                    </div>            
                    <div class="col-sm-2" *ngIf="evolution.image" >
                        <a class="btn" href="{{url}}evolution-load/{{evolution._id}}" download="img">Descargar</a>                   
                    </div>
                </div>                                                                                                   
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-success" [disabled]="!formConfigureEvolution.valid">Guardar</button>
                    <button class="btn btn-warning" [routerLink]="['/admin/evolution']">Volver</button>                                
                </div>                        
            </form>    
            <div class="form-horizontal" *ngIf="isEdit">      
                <h3>Listado de niveles </h3>              
                <table *ngIf="evolution.levels" class="table">
                    <thead>
                        <tr>
                        <th>#</th>              
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th>Tiempo</th>                                                      
                        <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="evolution.levels.length>0">
                        <tr *ngFor="let l of evolution.levels; let i = index">
                        <th scope="row">{{i+1}}</th>              
                        <td>{{l.order}}</td>
                        <td>{{l.name}}</td>
                        <td>{{l.time}}</td>                      
                        <td>
                            <a [routerLink]="['/admin/editLevel/'+ l._id]" class="button_action" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>                  
                        </td>
                        </tr>
                    </tbody>  
                    <tbody *ngIf="!evolution.levels.length>0">
                            <tr class="no-data">
                                <td colspan="4">No se han encontrado resultados</td>
                            </tr>
                    </tbody>               
                </table>
            </div>                     
        </div>
    </div>
</div>    