<div *ngIf="identity">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- El logotipo y el icono que despliega el menú se agrupan para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Desplegar navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CODE-EVOLUTION</a>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span></a>
    </div>
    
    <!-- Agrupar los enlaces de navegación, los formularios y cualquier otro elemento que se pueda ocultar al minimizar la barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse"> 
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text"><img src="#">Nivel X</p></li>
        <li><p class="navbar-text"><img src="#">{{identity.email}}</p></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li><a (click)="logout()" class="btn-logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div>
  </nav>

</div>

<div *ngIf="!identity">
  <h1 class="text-center">{{title}}</h1>
  <div class="col-md-6 float-left">     
  </div>
  <div class="col-md-6 float-right">
    <!--Formulario para inicio de sesión-->
    <div class="form-login col-md-8">
      <h1>Inicia sesión</h1>
      <div *ngIf="eMsgLogin">
        <div class="alert alert-warning">
          <strong>Error:</strong> {{eMsgLogin}}
        </div>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin()">      
        <div class="form-group">
          <label for="email"><strong>Email:</strong></label>
          <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required/>          
        </div>
        <div class="form-group">
          <label for="pwd"><strong>Password:</strong></label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required/>          
        </div>
        <input type="submit" value="Entrar" class="btn btn-primary"/>
      </form>
    </div>
    <!--Formulario para registro-->    
    <div class="form-register col-md-8">      
      <h1>Registrate</h1>
      ¿Es la primera vez que entras en Code-Evolution?
      <div class="clearfix"></div>
      <a (click)="showRegister()" type="button" class="btn" *ngIf="!showRegisterForm">Rellena el formulario</a>      
      <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" *ngIf="showRegisterForm">      
        <div *ngIf="sMsgRegister">
          <div class="alert alert-success">
            {{sMsgRegister}}
          </div>
        </div>
        <div *ngIf="eMsgRegister">
          <div class="alert alert-warning">
            <strong>Error:</strong> {{eMsgRegister}}
          </div>
        </div>
        <div class="form-group">
          <label for="name"><strong>Nombre (*) :</strong></label>
          <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required/>                   
        </div>
        <div class="form-group">
          <label for="surname"><strong>Apellidos (*) :</strong></label>
          <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="email"><strong>Email (*) :</strong></label>
          <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" required/>
        </div>
        <div class="form-group">
          <label for="pwd"><strong>Password (*) :</strong></label>
          <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required/>
        </div>
        <input type="submit" value="Crear cuenta" class="btn btn-primary"/>
        <a (click)="hiddenRegister()" type="button" class="btn">Cancelar</a>      
      </form>      
    </div>      
  </div>

</div>