<div *ngIf="tokenChecked">    
    <div *ngIf="token">
        <div class="row">            
            <app-navigation-menu></app-navigation-menu>                    
            <div class="container container-main">                             
                <router-outlet></router-outlet>                           
            </div>            
        </div>
        <footer>
            <div class="col-xs-11">
                <p>Copyright &copy; Code Evolution 2017</p>            
            </div>            
        </footer>
    </div>
    <div *ngIf="!token">
        <app-login></app-login>
    </div>
</div>
