<div class="container">
    <div class="col-md-8">
        <app-alert></app-alert>
        <div class="well well-sm" *ngIf="identity.admin && goal">
            <form class="form-horizontal" method="post" (ngSubmit)="onSubmit()" #formConfigureGoal="ngForm">
                <legend class="text-center"><h1>{{title}}</h1></legend> 
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Nombre (*):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="goal.name" name="name" required #name="ngModel">
                    </div>            
                </div>
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Clave (*):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="goal.key" name="key" required #key="ngModel">
                    </div>            
                </div>                                                                                        
                <div class="text-right">
                    <button type="submit" class="btn btn-success" [disabled]="!formConfigureGoal.valid">Guardar</button>
                    <button class="btn btn-warning" [routerLink]="['/admin/goal']">Volver</button>                                
                </div>                        
            </form>
        </div>
    </div>
</div>
  
  