h1, h2{
    display:inline; 
    margin-left: 15px;
}

div {
    margin-top:20px;
}

/*#region botones*/
.btn-primary-ce{
    color: var(--font-color);
    background-color: var(--main-color);
}

.btn-primary-ce:disabled{    
    opacity: 0.5;
}

.active{
    background-color: var(--color-selected);
}

/*#endregion*/

/*#region canvas*/

.canvas{
    height: 450px;
    width: 450px;
    overflow: hidden;
    margin-top:0;
    box-shadow: 
    0 0 0 1px var(--font-color-2),	
	0 0 0 2px var(--main-color),
	0 0 0 3px var(--font-color-2);    
}


/*#endregion*/

/*#region menu*/

.bigicon{
    float: right;
    cursor: pointer;
}

.goal-no-check{
    background-color: var(--no-checked-color);
}

.goal-check{
    background-color: var(--checked-color);
}


/*#endregion*/

/*#region editor*/

.editor {
    height:350px;         
}

.shell {
    height: 100px;
    background: var(--font-color-2);
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;      
    padding: 10px;
    margin-top: 10px;
    overflow:scroll;
    overflow-x:hidden;
    color: var(--background-color-success);        
}

.shell-error {
    color: var(--background-color-alert);    
}

.editor,
.shell {    
    box-shadow: 
    0 0 0 1px var(--font-color-2),	
	0 0 0 2px var(--main-color),
	0 0 0 3px var(--font-color-2);
}

/*#endregion*/

/*#region modal*/
.display-none{
    display: none;
}

.display-block{
    display: block;
}

.backdrop{ 
    background-color:rgba(0,0,0,0.6);        
    position:fixed;    
    top:0;    
    left:0;        
    width:100%;        
    height:100vh;        
}

.modal-dialog{
    width: 350px;
}

.modal-content,
.modal-footer{
    text-align: center;
}

.title-game-over{
    color: var(--background-color-alert);
}

/*#endregion*/