<h1>{{title}}</h1>   
<app-alert></app-alert>
<div>
    <div *ngIf="level && level.evolution">     
        <!--Titulo-->
        <div class="col-md-5">
            <h2>{{level.evolution.name}}: {{level.order}}. {{level.name}}</h2> 
        </div>
        <!--Fin Titulo-->
        <!--Botones-->
        <div class="col-md-offset-3 col-md-4" *ngIf="canvas">
            <button type="button" class="btn btn-primary-ce" [ngClass]="{'active': lastAction === 0 }" [disabled]="canvas.stateGame === 0 || canvas.stateGame === 1" (click)="doAction(0);">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <button type="button" class="btn btn-primary-ce" [ngClass]="{'active': lastAction === 1}" [disabled]="canvas.stateGame !== 0 && canvas.stateGame !== 2" (click)="doAction(1);">
                <span class="glyphicon glyphicon-play"></span>
            </button>
            <button type="button" class="btn btn-primary-ce" [ngClass]="{'active': lastAction === 2 }" [disabled]="canvas.stateGame !== 1" (click)="doAction(2);">
                <span class="glyphicon glyphicon-pause"></span>
            </button>
            <button type="button" class="btn btn-primary-ce" *ngIf="!configure[0]" (click)="doAction(5);" >
                <span class="glyphicon glyphicon-volume-off"></span>
            </button>
            <button type="button" class="btn btn-primary-ce" *ngIf="configure[0]" (click)="doAction(5);">
                <span class="glyphicon glyphicon-volume-up"></span>
            </button> 
            <button type="button" class="btn btn-primary-ce">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
            <button type="button" class="btn btn-primary-ce" [routerLink]="['/jugar/evolucion/'+ this.level.evolutionID]">
                <span class="glyphicon glyphicon-log-out"></span>
            </button>   
        </div>
        <!--Fin Botones-->
    </div> 
    <div>
        <!--Canvas-->
        <div class="col-md-5" *ngIf="canvas">
            <div id="phaser-game" class="canvas"></div>          
        </div>
        <!--Fin Canvas-->        
        <!--Menús Información-->
        <div class="col-md-2" *ngIf="level">
            <table class="table table-bordered table-ce" *ngIf="level.goals">
                <thead>
                    <tr>
                        <th>Objetivos
                            <i class="fa bigicon" data-toggle="collapse" data-target=".goals" [ngClass]="{'fa-plus-square':!configure[1],'fa-minus-square':configure[1]}" (click)="configure[1] = !configure[1]"></i>                    
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse in goals">
                    <tr *ngFor="let g of level.goals">
                        <!--<td [ngClass]="{'goal-no-check': !g[1], 'goal-check': g[1]}">{{g[0]}}</td> -->                 
                        <td>{{g.goal.name}}{{getGoalValue(g)}}</td>
                    </tr>            
                </tbody>
            </table>
            <table class="table table-bordered table-ce" *ngIf="level.actions">
                <thead>
                    <tr>
                        <th>
                            Acciones
                            <i class="fa bigicon" data-toggle="collapse" data-target=".actions" [ngClass]="{'fa-plus-square':!configure[2],'fa-minus-square':configure[2]}" (click)="showActions = !configure[2]"></i>                    
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse in actions">
                    <tr *ngFor="let a of level.actions">                                                
                        <td>
                            <popover-content #ppAction title= "{{a.name}}" placement="auto left" [animation]="false" [closeOnClickOutside]="true" >
                                <p class="popover-description">{{a.description}}</p>
                                <pre *ngIf="a.example" [innerHTML]="a.example" class="popover-example"></pre>
                            </popover-content>
                            <a [popover]="ppAction" class="popover-botton">{{a.name}}</a>
                        </td>
                    </tr>            
                </tbody>
            </table>                
            <table class="table table-bordered table-ce" *ngIf="level.learnings">
                <thead>
                    <tr>
                        <th>
                            Aprendizaje
                            <i class="fa bigicon" data-toggle="collapse" data-target=".learnings" [ngClass]="{'fa-plus-square':!configure[3],'fa-minus-square':configure[3]}" (click)="configure[3] = !configure[3]"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse in learnings">
                    <tr *ngFor="let l of level.learnings">
                        <td>
                            <popover-content #ppLearning title= "{{l.name}}" placement="auto left" [animation]="false" [closeOnClickOutside]="true">
                                <p class="popover-description" [innerHTML]="l.description"></p>
                                <pre *ngIf="l.example" [innerHTML]="l.example" class="popover-example"></pre>                            
                            </popover-content>
                            <a [popover]="ppLearning" class="popover-botton">{{l.shortName}}</a>
                        </td>                  
                    </tr>            
                </tbody>
            </table>
        </div>
        <!--Fin Menus Información-->
        <!--Editor de textos-->
        <div class="col-md-5">    
            <ace-editor [(text)]="code" #editor class="editor"></ace-editor>
            <p class="shell" [innerHTML]=""></p>
            <!--<p class="shell" [ngClass]="{'shell-error': canvas.error }" [innerHTML]="canvas.codeShell"></p>-->
        </div>
        <!--Fin Editor de textos-->
    </div>    
</div>  

<div *ngIf="canvas && evolution">
    <div class="backdrop" [ngClass]="{'display-none':canvas.stateGame!==4 && canvas.stateGame!==5,'display-block':canvas.stateGame===4 || canvas.stateGame===5}"></div>
    <div class="modal" tabindex="-1" role="dialog"  [ngClass]="{'display-none':canvas.stateGame!==4,'display-block':canvas.stateGame===4}">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">        
            <h1 class="modal-title">¡Nivel Superado!</h1>
            </div>
            <div class="modal-body">
            <h3>Has cumplido todos los objetivos</h3>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="doAction(0)" >Jugar de nuevo</button>
            <button type="button" class="btn btn-default">Siguiente</button>
            </div>
        </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog"  [ngClass]="{'display-none':canvas.stateGame!==5,'display-block':canvas.stateGame==5}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">        
                    <h1 class="modal-title title-game-over">¡Nivel no superado!</h1>
                </div>
                <div class="modal-body">
                    <h3>{{canvas.msgError}}</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="doAction(0)" >Volver a intentar</button>
                    <button type="button" class="btn btn-default" [routerLink]="['/jugar/evolucion/' + evolution._id]">Cambiar nivel</button>
                </div>
            </div>
        </div>
    </div>
</div>
