.contenedor-image {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-top: 5%;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    overflow: hidden;  
    position: relative; 
  }
  
  .contenedor-image img{
    height: 300px;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    margin:auto;
  }

.level-selected {    
    width:50%;
    height:500px;
}

.level-selected .level-image{
    border: 1px solid black;
    height: 300px;
}

.level-selected .btn{  
    width: 12%;
    min-width: 80px;
    margin-left: 44%;
    margin-top: 10px;
}

.table-levels {
    margin-left: 30%;
}

.table-level-selected {
    background-color: #c0c0c0;
}