.mt-5,
.mt-6{
    padding-top: 20px;
}

div {
    margin-top:10px;
}

.table-levels tr{
    cursor:pointer;
}

.table-level-selected {
    background-color: var(--color-selected);
    color: var(--font-color);
}

.bigicon{
    float: right;
    cursor: pointer;
}

img {
    border-radius: 10%;
    box-shadow: 
    0 0 0 2px var(--font-color-2),	
	0 0 0 8px var(--framework-color),
	0 0 0 10px var(--font-color-2);
}

@media (max-width: 970px) {
    .mt-6{
        padding-top: 80px;
    }
}