.contenedor-image {
    height: 325px;
    width: 440px;
    border: 2px solid black;
    margin-top: 5%;
    border-radius: 20px;
    /*margin-left: 10%;*/
    /*margin-right: auto;*/
    margin-bottom: 10%;
    overflow: hidden;  
    position: relative; 
  }
  
  .contenedor-image img{
    height: 325px;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    margin:auto;
  }



.level-detail{
    margin-top: 15px;
}

.level-detail h2{
    margin-bottom: 10px;
}

.level-detail h3{
    font-size: 12px;
    margin-bottom: 20px;
}

.level-detail .level-image{
    border: 1px solid black;
    height: 300px;
}

.level-detail .btn{  
    width: 12%;
    min-width: 80px;
    margin-left: 44%;
    margin-top: 10px;
}

/*.table-levels {
    margin-left: 30%;
}*/

.table-level-selected {
    background-color: #c0c0c0;
}