<h1>{{title}}</h1>                                                
<app-alert></app-alert>
<div class="mt-5">        
    <div class="col-md-4" *ngIf="levels && evolution && level">
        <h2>Listado de niveles: <strong>{{evolution.name}}</strong></h2>
        <table class="table table-levels" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="col-md-1">Nº</th>
                    <th class="col-md-8">Titulo</th>
                    <th class="col-md-1">Tiempo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let l of levels" [ngClass]="{'table-level-selected': l._id == level._id }" (click)="changeLevel(l)">
                    <td>{{l.order}}</td>
                    <td>{{l.name}}</td>
                    <td>{{l.time}} seg</td>
                </tr>            
            </tbody>
        </table>
        <div class="col-md-8 col-md-offset-2">
                <button class="btn btn-primary btn-lg pull-left" [routerLink]="['/jugar/nivel/' + level._id]">JUGAR</button> 
                <button class="btn btn-primary btn-lg pull-right" [routerLink]="['/jugar']">VOLVER</button> 
        </div>        
    </div>
    <div class="col-md-8 mt-6" *ngIf="level">
        <h2>{{level.order}}: {{level.name}}</h2>
        <h4>{{level.description}}</h4>
        <div class="col-md-4">
            <table class="table table-bordered table-ce" *ngIf="level.goals">
                <thead>
                    <tr>
                        <th>Objetivos
                        <i class="fa bigicon" data-toggle="collapse" data-target=".goals" [ngClass]="{'fa-plus-square':!showGoals,'fa-minus-square':showGoals}" (click)="showGoals = !showGoals"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse in goals">
                    <tr *ngFor="let g of level.goals">
                        <td>{{g.goal.name}}</td>                  
                    </tr>            
                </tbody>
            </table>            
            <table class="table table-bordered table-ce" *ngIf="level.actions">
                <thead>
                    <tr>
                        <th>Acciones
                        <i class="fa bigicon" data-toggle="collapse" data-target=".actions" [ngClass]="{'fa-plus-square':!showActions,'fa-minus-square':showActions}" (click)="showActions = !showActions"></i>                    
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse in actions">
                    <tr *ngFor="let a of level.actions; let i=index">                                                
                        <td>
                            <popover-content #ppAction title= "{{a.name}}" placement="auto left" [animation]="false" [closeOnClickOutside]="true" >
                                <p class="popover-description">{{a.description}}</p>
                                <pre *ngIf="a.example" [innerHTML]="a.example" class="popover-example"></pre>
                            </popover-content>
                            <a [popover]="ppAction" class="popover-botton">{{a.name}}</a>
                        </td>
                    </tr>            
                </tbody>
            </table>
            <table class="table table-bordered table-ce" *ngIf="level.learnings">
                <thead>
                    <tr>
                        <th>Aprendizaje
                        <i class="fa bigicon" data-toggle="collapse" data-target=".learnings" [ngClass]="{'fa-plus-square':!showLearnings,'fa-minus-square':showLearnings}" (click)="showLearnings = !showLearnings"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse in learnings">
                    <tr *ngFor="let l of level.learnings">
                    <td>
                        <popover-content #ppLearning title= "{{l.name}}" placement="auto left" [animation]="false" [closeOnClickOutside]="true">
                            <p class="popover-description" [innerHTML]="l.description"></p>
                            <pre *ngIf="l.example" [innerHTML]="l.example" class="popover-example"></pre>                            
                        </popover-content>
                        <a [popover]="ppLearning" class="popover-botton">{{l.name}}</a>
                    </td>                  
                    </tr>            
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <img class="img-fluid" *ngIf="level.image" src="{{url}}level-load-image/{{level._id}}"/>   
        </div> 
    </div>       
</div>
