<div>
  {{errosMessagge}}
</div>
<div class="container" *ngIf="level">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>{{title}}</h1>                           
      </div> 
      <div class="col-md-4 float-left level-selected">
        <div class="level-image">
          <img />
        </div>        
        <button class="btn btn-primary" [routerLink]="['/jugar/nivel/' + level._id]">Jugar</button>        
      </div>
      <div class="col-md-4 float-right">
        <table class="table table-levels" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th class="col-md-1">Orden</th>
                  <th class="col-md-2">Titulo</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let l of levels" [ngClass]="{'table-level-selected': l._id == level._id }" (click)="changeLevel(l)">
                  <td>{{l.order}}</td>
                  <td>{{l.title}}</td>
              </tr>            
          </tbody>
        </table>
      </div>       
    </div>
  </div>
</div>