<div *ngIf="evolution">
    <div class="page-header">
        <h1>{{title}}</h1>
    </div>
    <div *ngFor="let e of evolutions">
        <a title="{{e.origin}}" (click)="changeEvolution(e)">
            <img class="evolution_line" [ngClass]="{'evolution_line_selected': e._id == evolution._id }" id="line_{{e._id}}" src="{{url}}evolution-load/{{e._id}}/2">            
        </a>    
    </div>
    
    <div *ngIf="errosMessagge" class="alert alert-warning"> <strong>Error: </strong>{{errosMessagge}}</div>
    <div *ngFor="let evolution of evolutions">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 evolution">
            <a [routerLink]="['/jugar/evolución',evolution._id]">
                <h2>{{evolution.name}}</h2>
                <div class="evolution-image" *ngIf="evolution.image">
                    <img src="{{url}}evolution-load/{{evolution.image}}">
                </div>
                <p class = "evolution-text">Aprendizaje</p>
            </a>        
        </div>
    </div>
</div>
