<div class="container" *ngIf="evolution && range && evolutions">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h1>{{title}}</h1>                                        
            </div>  
            <section class="main-timeline-section">
                <div class="timeline-start"><p>Inicio</p></div>
                <div class="conference-center-line"></div>
                <div class="conference-timeline-content">
                    <div class="timeline-article"></div>                    
                    <div *ngFor="let i of range" class="timeline-article" [ngClass]="i%2 == 0  ? 'timeline-article-bottom' : 'timeline-article-top'">                        
                        <div class="content-date" *ngIf="evolutions[i]">
                                <span>{{evolutions[i].origin}}</span>
                        </div>
                        <div class="content-date interrogation" *ngIf="!evolutions[i]">
                                <span>¿...?</span>
                        </div>
                        <div class="meta-date"></div>
                        <div class="content-box" *ngIf="evolutions[i]" [ngClass]="{'content-box-selected': evolutions[i]._id == evolution._id }" (click)="changeEvolution(evolutions[i])">                                                                             
                            <p>{{evolutions[i].name}}</p> 
                        </div>
                    </div>
                </div>
                <div class="timeline-end"><p>Fin</p></div>
            </section>
            <div class="col-md-12 col-lg-12 evolution-selected"> 
                <h2>
                    Organismo seleccionado: <strong>{{evolution.name}}</strong>                                          
                </h2>                                
                <div class="col-md-6 col-lg-6 float-right evolution-information">                    
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><strong>Nombre</strong></td>
                            <td>{{evolution.name}}</td>
                        </tr>
                        <tr>
                            <td><strong>Origen</strong></td>
                            <td>{{evolution.origin}}</td>
                        </tr>
                        <tr>
                            <td><strong>Descripción</strong></td>
                            <td>{{evolution.description}}</td>
                        </tr> 
                        <tr>
                            <td><strong>Aprendizaje</strong></td>
                            <td *ngIf="errorLearning" class="alert alert-warning"> <strong>Error: </strong>{{errorLearning}}</td>
                            <td>
                                <button *ngFor="let l of learnings; let i = index;" class="btn-learning" (click)="changeLearning(l)"
                                [ngClass]="{'btn-learning_1': i%4 == 0, 'btn-learning_2': i%4 == 1, 'btn-learning_3': i%4 == 2 , 'btn-learning_4': i%4 == 3}">
                                    {{l.title}}
                                </button>
                            </td>
                        </tr>                                                                                          
                        </tbody>
                    </table> 
                    <div class="container-button">
                        <button class="btn btn-play" [routerLink]="['evolucion/'+evolution._id]">ACEPTAR</button>   
                        <button class="btn btn-play" [routerLink]="['/home']">VOLVER</button>  
                    </div>                                       
                </div>
                <!--<div class="col-md-4 col-lg-4 float-right">
                    <div class="container-image">
                            <img *ngIf="evolution.image" src="{{url}}evolution-load/{{evolution.image}}/I"/>            
                    </div>                                                                                                            
                </div>-->                                        
                <div class="col-md-6 col-lg-6 float-left">
                    <table *ngIf="learning" class="table">
                        <tbody>
                            <tr>
                                <td class="col-xs-2"><strong>Titulo</strong></td>
                                <td><pre [innerHTML]="learning.title"></pre></td>
                            </tr>
                            <tr>
                                <td><strong>Descripción</strong></td>
                                <td><pre [innerHTML]="learning.description"></pre></td>
                            </tr>
                            <tr>
                                <td><strong>Ejemplo</strong></td>
                                <td><pre [innerHTML]="learning.example"></pre></td>
                            </tr>
                        </tbody>
                    </table>
                </div>                           
            </div>                    
        </div>
    </div>  
</div>