<h1>{{title}}</h1>                                                
<app-alert></app-alert>
<div class="row" *ngIf="evolutions && evolution_player && range">                            
    <div *ngFor="let i of range" class="col-xs-12 col-md-4 full-card">
        <div *ngIf="evolutions[i]" class="flip-card-enable" (click)="changeEvolution(evolutions[i])" data-toggle="modal" data-target="#evolution-modal">
            <div class="card">                    
                <i class="fa fa-user bigicon" [ngClass]="{'active-card': evolutions[i]._id == evolution_player }"></i>
                <img *ngIf="evolutions[i].image" src="{{url}}evolution-load/{{evolutions[i].image}}/I"/>   
            </div>                    
            <div class="well">
                <h1>{{evolutions[i].order}}.&nbsp;{{evolutions[i].name}}</h1>
            </div>
        </div> 
        <div *ngIf="!evolutions[i]" class="flip-card">
            <div class="card">
                <h6>¿?</h6>
            </div>
            <div class="well">
                <h1>-</h1>
            </div>                    
        </div>               
    </div>                                                
</div>    



<div class="modal fade" id="evolution-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; margin-top: 25px;">
    <div class="well well-sm evolution-detail" *ngIf="evolution">                   
        <h1>{{evolution.name}}</h1>                                                       
        <table class="table">
            <tbody>
            <tr>
                <td><strong>Nombre</strong></td>
                <td>{{evolution.name}}</td>
            </tr>
            <tr>
                <td><strong>Origen</strong></td>
                <td>{{evolution.origin}}</td>
            </tr>
            <tr>
                <td><strong>Descripción</strong></td>
                <td>{{evolution.description}}</td>
            </tr> 
            <tr>
                <td><strong>Aprendizaje</strong></td>
                <td *ngIf="errorLearning" class="alert alert-warning"> <strong>Error: </strong>{{errorLearning}}</td>
                <td>
                    <div *ngFor="let l of learnings; let i = index;" class="btn-learning" [ngClass]="{'btn-learning_1': i%4 == 0, 'btn-learning_2': i%4 == 1, 'btn-learning_3': i%4 == 2 , 'btn-learning_4': i%4 == 3}">
                        <popover-content #ppLearning title= "{{l.title}}" placement="auto left" [animation]="false" [closeOnClickOutside]="true">
                            <p class="popover-description" [innerHTML]="l.description"></p>
                            <pre *ngIf="l.example" [innerHTML]="l.example" class="popover-example"></pre>                            
                        </popover-content>                                                                    
                        <a [popover]="ppLearning" class="popover-botton">{{l.key}}</a>
                    </div>
                </td>
            </tr>                                                                                          
            </tbody>
        </table> 
        
            <button class="btn btn-primary btn-lg pull-left" [routerLink]="['evolucion/'+evolution._id]" data-dismiss="modal" aria-hidden="true">ELEGIR</button>   
            <button class="btn btn-primary btn-lg pull-right" data-dismiss="modal" aria-hidden="true">VOLVER</button>  
        
    </div>
</div>