<div class="container" *ngIf="evolution">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h1>{{title}}</h1>                                        
            </div>  
            <section class="main-timeline-section">
                <div class="timeline-start"></div>
                <div class="conference-center-line"></div>
                <div class="conference-timeline-content">
                    <div *ngFor="let e of evolutions;let i = index;" class="timeline-article" [ngClass]="i%2 == 0  ? 'timeline-article-bottom' : 'timeline-article-top'">                        
                        <div class="content-date">
                                <span>{{e.origin}}</span>
                        </div>
                        <div class="meta-date" [ngClass]="{'meta-date-selected': e._id == evolution._id }"></div>
                        <div class="content-box" [ngClass]="{'content-box-selected': e._id == evolution._id }" (click)="changeEvolution(e)">                        
                            <p>{{e.name}}</p>                                                      
                        </div>
                    </div>                    
                </div>
                <div class="timeline-end"></div>
            </section>
            <div class="evolution-selected"> 
                <h2>{{evolution.name}}</h2>
                <div class="col-md-6 float-right contenedor-image">                    
                    <img *ngIf="evolution.image" src="{{url}}evolution-load/{{evolution.image}}/I"/>            
                </div>
                <div class="col-md-6 col-lg-6 float-right evolution-information">                     
                    <table class="table table-evolution-information">
                      <tbody>
                        <tr>
                          <td><strong>Nombre</strong></td>
                          <td>{{evolution.name}}</td>
                        </tr>
                        <tr>
                          <td><strong>Origen</strong></td>
                          <td>{{evolution.origin}}</td>
                        </tr>
                        <tr>
                          <td><strong>Descripción</strong></td>
                          <td>{{evolution.description}}</td>
                        </tr>         
                        <tr>
                            <td><strong>Aprendizaje</strong></td>
                            <td *ngIf="errorLearning" class="alert alert-warning"> <strong>Error: </strong>{{errorLearning}}</td>
                            <td>
                                <div *ngFor="let l of learnings;">
                                    {{l.title}}
                                </div>
                            </td>
                        </tr>                                                          
                      </tbody>
                    </table>                    
                    <button class="btn btn-primary" [routerLink]="['evolucion/'+evolution._id]">Seleccionar</button>   
                </div>
            </div>                      
        </div>
    </div>  
</div>